// Брейкпоинты
$sizes: (
    "ms": 320px,
    "mm": 600px,
    "ml": 900px,
    "ds": 1050px,
    "dm": 1200px,
    "dl": 1600px,
);

// *** ms - mobile small, dm - desctop medium, пример дополнительных крайних значений: mxl, dxs *** //

// Шрифты
$font-1: "Arial", sans-serif;

// Цвета
$black-1: #000000;

$white-1: #fff;

$gray-1: #4f5665;

$green-1: #147e45;

// Тени
$shadow-green: 0px 4px 20px rgba(13, 77, 42, 0.33);

//Скорость анимации
$duration: 0.3s;

$duration-burger: $duration;
